nav {
  display: flex;
  justify-content: space-between;
  background-color: #7FACC7;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  position: fixed;
  top: 0;
  z-index: 9999
}

nav span {
  font-family: 'Bungee', sans-serif;
}