nav {
  display: flex;
  justify-content: space-between;
  background-color: #7FACC7;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  position: fixed;
  top: 0;
  z-index: 9999
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
  align-items: center;
}

.nav-cta {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  margin-top: 4px
}

.nav-icon:hover {
  color:#F3A712;
  transform: translateY(8px);
  transition: all 0.2s ease-out;
}