.new-tweet {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}

form {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
  margin-bottom: 8px;
}

textarea {
  resize:none;
  flex: 1 0 auto;
  background-color: transparent;
  border: none;
  margin: 8px 0 4px;
  padding: 8px 0;
}

.invalid-input {
  resize:none;
  flex: 1 0 auto;
  background-color: #EE586225;
  outline: 2px solid #EE5862;
  border: none;
  margin: 8px 0 4px;
  padding: 8px 0;
}

textarea:focus { 
  outline: none;
  background-color: transparent;
}

textarea::placeholder {
  font-style: italic;
  color: rgb(175, 175, 175)
}

.tweet-meta {
display: flex;
justify-content: space-between;
align-items: center;
border-top: solid #7FACC7;
padding-top: 16px;
}

button {
  font-family: 'Bungee', sans-serif;
  color: #353D46;
  background-color: #F3A712;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
  outline:none;
}

button:hover {
  color: #FFFFFF;
  background-color: #EE5862;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.char-invalid {
  color: #EE5862;
}

.char-warning {
  color: #F3A712;
}

.form-msg {
  font-style: italic;
  font-size: smaller;
  color: transparent;
  margin: 0 0 4px;
  opacity: 0;
}

.error-msg {
  color: #EE5862;
  opacity: 1;
}
/* 
/* 
 * Responsive Web Layout
 */

 @media only screen and (min-width: 1024px) {
  
} */