.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form {
  padding: 16px, 0;
  display: flex;
  flex-direction: column;
}

textarea::placeholder {
  font-style: italic;
  color: rgb(175, 175, 175)
}

label {
  font-weight: 700
}

textarea {
  min-width: 100%;
  max-width:100%;
  min-height: 25%;
  background-color: transparent;
  border: none;
  margin-top: 24px;
}

.tweet-meta {
display: flex;
justify-content: space-between;
align-items: center;
border-top: solid #7FACC7;
padding-top: 16px;
}

button {
  font-family: 'Bungee', sans-serif;
  color: #353D46;
  background-color: #F3A712;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
}

button:hover {
  color: #FFFFFF;
  background-color: #EE5862;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.char-invalid {
  color: #EE5862;
}

.char-warning {
  color: #F3A712;
}